*{
    box-sizing: border-box;
    list-style: none;
}
/*------------------*/ 
body{
    margin:0 auto;
   }
.main-header{    
    padding: 0 1.5em;
    background: lightgrey;
    position: relative;     
}
.main-nav{
    margin: 0;
}
.main-nav li{
    padding:1.5rem 1rem;
    font-size:1.5rem;
    color: black;    
}
.title{
    padding-left:1rem;
    }
.welcome{
    background: lightblue;
    padding:2rem 0;
}
.welcome,
.name{
    text-align: center;
}


a {
   text-decoration: none;
}
a:link{
    color:black;
}
a:visited{
    color:darkblue;
}
a:hover{
    color:yellow;
}

.logo{
    position:absolute;
    left:11rem;
    bottom:1.3rem;    
    display:inline-block;
    }
.menu,
.exit{
    position: absolute;
    right:1rem;
    display:none;
}
.menu{
    height:37px;
    bottom:1.3rem;
}
.exit{
    margin-top:0; 
    top:10px;
    height:29%;
    z-index: 4;
}
.myButton{
    text-align: center;    
}


/* flex box */
.main-header,
.main-nav{
    display: flex;
    justify-content: space-between;
}

.container,
.container_2{
    margin:1rem auto;
    max-width:1200px;
    display:flex;
    flex-wrap:wrap;
}
.row{    
    flex:1 50%;
    }
.row div{
    margin: 10px;
    padding:30px;
    background: lightgrey; 
    
    }
.row{
    display: flex;
    flex-direction: column;
    justify-content: stretch;   
    }
.content{
    text-align: center;
    }
.container_2{
    display: none;
}
/* media queries */
@media (max-width:799px){
    .main-nav{
        display:none;        
        justify-content: flex-start;
        background:white;
        flex-direction: column;
        margin-left: 50vw;
        width:50vw;
        height:100vh;
        position: fixed;
        }
    .main-nav li{
        padding-top: 0.5rem;
    }
    .menu{
        display:inline-block;
    }
}

@media (max-width:499px) {
    
    .container,.container_2{
        flex-direction: column;
    }   
}
