*{
    box-sizing: border-box;
    list-style: none;
}
/*------------------*/ 
body{
    margin:0 auto;
   }
.main-header{
    padding:1.5rem 1rem;
    background: lightgrey;
    position: relative; 
}
.main-nav li{
    font-size:1.5rem;
    color: black;
    margin-right:10px;
}
.title{
    margin: 0;
    padding-left:1rem;
}
.welcome{
    background: lightblue;
    padding:2rem 0;
}
.welcome,
.name{
    text-align: center;
}


a {
   text-decoration: none;
}
a:link{
    color:black;
}
a:visited{
    color:white;
}
a:hover{
    color:yellow;
}

.logo{
    position:absolute;
    left:5rem;
    }
.menu{
    position: absolute;
    right:1rem;
    display:none;
}


/* flex box */
.main-header,
.main-nav{
    display: flex;
    justify-content: space-between;
}

.container{
    margin:1rem auto;
    max-width:1200px;
    display:flex;
    flex-wrap:wrap;
}
.row{    
    flex:1 50%;
    }
.row div{
    margin: 10px;
    padding:30px;
    background: lightgrey; 
    
    }
.row{
    display: flex;
    flex-direction: column;
    }
.content{
    vertical-align: top;
    text-align: center;    
}

@media (max-width:499px) {
    .main-nav{
        display:none;
    }
    .menu{
        display:inline-block;
    }
    .container{
        flex-direction: column;
    }
    
}
