body{
  margin:0 auto;
 }

 ul li{
  list-style-type: none; 
 }
.main-header{    
  padding: 0 1.5em;
  background: lightgrey;
  position: relative;     
}
.main-nav,
.main-navExpand{
  margin: 0;
  text-decoration: none;
}
.main-nav li,
.main-nav li{
  padding:1.5rem 1rem;
  font-size:1.5rem;
  color: black;    
}
.title{
  padding-left:1rem;
  }
.welcome{
  background: lightblue;
  padding:2rem 0;
}
.welcome,
.name{
  text-align: center;
}
.containerTitle{
  text-align: center;
}
a {
 text-decoration: none;
}
a:link{
  color:black;
}
a:visited{
  color:darkblue;
}
a:hover{
  color:yellow;
}

#logo{
  position:absolute;
  left:11rem;
  bottom:1.3rem;    
  display:inline-block;
  }

.menu,
.exit,
.menu-expand,
.exit-expand{
  position: absolute;
  right:1rem;
  display:none;
}
.menu,
.exit,
.menu-expand,
.exit-expand{
  height:37px;
  bottom:1.3rem;
}
.exit{
  margin-top:0; 
  top:10px;
  height:29%;
  z-index: 4;
}

.myButton{
  margin: 0 auto;
  padding: 2px;
}

/* flex box */
.main-header,
.main-nav{
  display: flex;
  justify-content: space-between;
}

.containers,
#containers_2,
#containers_2appear{
  margin:1rem auto;
  max-width:1200px;
  display:flex;
  flex-wrap:wrap;
}
.row{    
  flex:1 50%;
  }
.row div{
  margin: 10px;
  padding:30px;
  background: lightgrey; 
    }
.row{
  display: flex;
  flex-direction: column;
  justify-content: stretch;   
  }
.content{
  text-align: center;
  }
#containers_2{
  display: none;
}

#containers_2appear{
  display: flex;
}
/* media queries */
@media (max-width:799px){
  .main-nav{
      display:none;        
      justify-content: flex-start;
      background:white;
      flex-direction: column;
      margin-left: 50vw;
      width:50vw;
      height:100vh;
      position: fixed;
      }
  .main-nav li,
  .main-navExpand li{
      padding-top: 0.5rem;
  }
  .menu{
      display:inline-block;
  }
  .exit-expand{
    display: inline-block;
  }
  .main-navExpand{
    display:flex;        
    justify-content: flex-start;
    background:white;
    flex-direction: column;
    margin-left: 50vw;
    width:50vw;
    height:100vh;
    position: fixed;
    }
}

.exit{
  display:none;
}

@media (max-width:499px) {
  
  .containers,#containers_2{
      flex-direction: column;
  }   
}
